.profile__overlay {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50px;
  box-sizing: border-box;
  overflow: hidden;
}
.profile__overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../images/UpdateAvatar.svg") center no-repeat  #2A2C2F;
  opacity: 0.2;
  z-index: -4;
}
.profile__overlay:hover:before {
  z-index: 5;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}