@import url('../page/__container/page__container.css');
.page {
  background: #000000;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
  max-width: 2048px;
  min-height: 100vh;
  margin: 0 auto;
}