@import url('../profile/__avatar/profile__avatar.css');
@import url('../profile/__description/profile__description.css');
@import url('../profile/__edit/profile__edit.css');
@import url('../profile/__title/profile__title.css');
@import url('../profile/__subtitle/profile__subtitle.css');
@import url('../profile/__button-edit/profile__button-edit.css');
@import url('../profile/__button-add/profile__button-add.css');
@import url('../profile/_position/profile_position.css');
@import url('../profile/__overlay/profile__overlay.css');
.profile {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 168.75px 1fr 150px;
  align-items: center;
}
@media screen and (max-width: 787px) and (min-width: 320px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}