.element__button-delete {
  padding: 0;
  position: absolute;
  background-image: url('../../../images/Trash.svg');
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  min-width: 18px;
  min-height: 19.3px;
 
}

.element__button-delete:hover {
  opacity: 0.6;
}