.profile__edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 350px; 
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__edit {
    justify-content: center;
  }
}