@import url('./__form/register__form.css');
@import url('./__title/register__title.css');
@import url('./__input/register__input.css');
@import url('./__button-submit/register____button-submit.css');
@import url('./__link/register__link.css');
@import url('./__signup/register__signup.css');

.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 358px;
  height: 100vh;
}

@media screen and (max-width: 460px) and (min-width: 320px) {
  .register {
    max-width: 260px;
  }
}