.profile__description {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 336px;
  width: 336px;  
}
@media screen and (max-width: 787px) and (min-width: 320px) {
  .profile__description {
    max-width: 282px;
    width: 282px;
  }
}