@import url('../popup/__container/popup__container.css');
@import url('../popup/__container/_form/popup__container_form_edit.css');
@import url('../popup/__container/_form/popup__container_form_add.css');
@import url('../popup/__container/_form/popup__container_form_delete.css');
@import url('../popup/__container/_form/popup__container_form_avatar.css');
@import url('../popup/__input/popup__input.css');
@import url('../popup/__input/_type/popup__input_type_error.css');
@import url('../popup/__input/_url-avatar/popup__input_url-avatar.css');
@import url('../popup/__label/popup__label.css');
@import url('../popup/__input/_title/popup__input_title.css');
@import url('../popup/__input/_subtitle/popup__input_subtitle.css');
@import url('../popup/__title/popup__title.css');
@import url('../popup/__button-form/popup__button-form.css');
@import url('../popup/__button-form/_disabled/popup__button-form_disabled.css');
@import url('../popup/__button-form/_save/popup__button-form_save_profile.css');
@import url('../popup/__button-form/_create/popup__button-form_create_card.css');
@import url('../popup/__button-form/_delete/popup__button-form_delete_card.css');
@import url('../popup/__button-form/_avatar/popup__button-form_avatar.css');
@import url('../popup/__button-exit/popup__button-exit.css');
@import url('../popup/__button-creat/popup__button-creat.css');
@import url('../popup/__image-container/popup__image-container.css');
@import url('../popup/__error/popup__error.css');
@import url('../popup/__error/_visible/popup__error_visible.css');
@import url('../popup/__paragraph/popup__paragraph.css');
@import url('../popup/__image/popup__image.css');
@import url('../popup/_type/popup_type_add.css');
@import url('../popup/_type/popup_type_edit.css');
@import url('../popup/_type/popup_type_image.css');
@import url('../popup/_type/popup_type_deleteCard.css');
@import url('../popup/_type/popup_type_avatar.css');
@import url('../popup/_type/popup_typy_infoTooltip.css');
.popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}